.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.header {
  position: relative;
}

.hambtn {
  width: 50px;
  position: absolute;
  top: 4px;
  right: 410px;
  transform: translate(-200%);
}

.menu-img {
  width: 30px;
}

.day-div {
  display: flex;
}

.day {
  width: 14%;
  border: 1px solid #282c34;
}

.dateDivArr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date-div {
  width: 14%;
  height: 80px;
  border: 1px solid #282c34;
}

.ribbon {
  height: 20px;
  background-color: yellowgreen;
}

.container {
  display: none;
}

.active {
  display: block;
}

.center-div {
  margin: 0 auto;
  width: 600px;
}

.last {
  background-color: grey;
}

.last-date {
  color: grey;
}

.date {
  font-size: 24px;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
}

.footer {
  display: flex;
  justify-content: center;
}

.name {
  margin-right: 20px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.black {
  color: black;
}
